body { background-image: url(images/background.gif);
		background-color: #FCEBB6;
	  color: #330000; 
	  font-family: Tahoma, Verdana, sans-serif; }

header { background-image: url(images/javajamlogo.jpg);
	   background-repeat: no-repeat;
	   background-color: #ccaa66;
	   height: 150px; }	  
	
footer { background-color: #ccaa66;
	   color: #221811;
	   font-size: small;
	   font-style: italic; 
	   text-align: center; 
	   padding-bottom: 10px;
	   border-top: 2px;}

nav { text-align: center; 
		font-size: 1.5em;
		padding-top: 10px;
		}

nav a { text-decoration: none;}

h1 { font-size: 3em;
	padding-left: 220px;
	padding-top: 45px; }

		
#wrapper { margin-left: auto;
		  margin-right: auto;
		  width: 80%;
		  background-color: #FEF6C2;
		  min-width: 900px;
		  max-width: 1280px;
		  box-shadow: 5px 5px 5px;  }
		  
#heroroad{ background-image: url(images/heroroad.jpg);
			height: 250px;
			background-size: 100%;}

#heromugs{background-image: url(images/heromugs.jpg);
			background-size: 100%;
			height: 150px;}
			
#heroguitar{background-image: url(images/heroguitar.jpg);
			background-size: 100%;
			height: 150px;}			
		  
h4{	background-color:#d2b48c;
	font-size: 1.2em;
	padding-left: 10px;
	padding-bottom:5px;}

main{ padding-left: 0em;
		padding-right:0em;
		padding-top:0em;
		margin-left: 200px;
		display: block;
		background-color:#FEF6C2;}
	
.details { padding-left: 20%;
		   padding-right: 20%; }
		   
* { box-sizing: border-box; }
